.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  *{margin: 0; padding: 0;}
  
  body{
    background: #000000;
    
  }
  
  header{
    width: 100%;
    overflow: hidden;
    background: #867fec;
    margin-bottom: 20px;
  }
  
  
  .wrapper{
    width: 90%;
    max-width:100%; 
      margin:auto; 
      overflow:hidden;
    color: #ffffff;
  }
  
  
  header .logo {
      color:#f2f2f2;
      font-size:30px;
      line-height:100px;
      float:left;
  }
  
  header nav {
      float:right;
      line-height:100px;
  }
  
  header nav a {
      display:inline-block;
      color:#fff;
      text-decoration:none;
      padding:10px 20px;
      line-height:normal;
      font-size:20px;
      font-weight:bold;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease;
  }
  
  header nav a:hover {
      background:#47079b;
      border-radius:50px;
  }
  
  .redondo1{
      width: 90px;
      height: 50px;
      border-radius: 50%;
      background-color: #867fec;
      color:#fff;
  }
  
  .redondo2{
      width: 90px;
      height: 50px;
      border-radius: 20%;
      background-color: rgb(0, 0, 0);
      color:#fff;
  }

 h2, form{
  color: #fff;
  text-align: left;
  padding: "20px"
 }

 .txhe{
  color: #fff;
  text-align: left;
  padding: "20px"
 }


